@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(180, 138, 23);
    color: white;
}

td,th {
    text-align: center;
    @apply px-3 py-2;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

table a{
    text-decoration:underline;
}

.personform input,select, .search ,.logout  {
    margin: 13px;
    color: black;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
}

.logout{margin: 0px;}

.personform input[type=submit], .search {
    padding: 5px 10px;
    transition:0.5s;
    @apply hover:bg-gray-300;
}


#persondelete { 
    background-color: red;
    @apply hover:bg-red-600;
}

button{
    transition:0.5s;
    @apply bg-white p-1 mb-5 rounded-lg text-black hover:bg-gray-300;
}