@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(180, 138, 23);
    color: white;
}

td,th {
    text-align: center;
    @apply px-3 py-2;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }